.menu-icon-portfolio_item .wp-menu-image {
	background: url(../images/menu-icon.png) 7px 6px no-repeat;
	text-indent: -9999px;
}
.menu-icon-portfolio_item:hover .wp-menu-image,
.menu-icon-portfolio_item.wp-has-current-submenu .wp-menu-image {
	background-position: 7px -25px;
}
#icon-edit.icon32-posts-portfolio_item {
	background: url(../images/edit-icon.png) no-repeat;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu-icon-portfolio_item .wp-menu-image {
		background: url(../images/menu-icon_2x.png) 7px 6px no-repeat;
		background-size: 17px 45px;
	}
	#icon-edit.icon32-posts-portfolio_item {
		background: url(../images/edit-icon_2x.png) no-repeat;
		background-size: 36px 33px;
	}
}